*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #171341;
}

#DescontoGaleria{
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    margin-block: 3%;
    margin-left: 20px;
    margin-right: auto;
}

.DescontoGaleriavalor{
    padding: 10px;
    list-style: none;
    background-color: rgb(146, 128, 174);
    font-size: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #6942B9;
    display: flex;
    justify-content: center;
    height: 15px;

}

.galeria{
    margin: auto;
    max-width: 1500px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-block: 6%;
    margin-block: 7%;
    

}
.galeriaResumoParagrafo {

    margin-top: 15px;
    font-weight: bold;
  
}
.galeriaFreteGratis {
    color: #C2F26E;
    font-size: 25px;
}

.galeriaValorAtual {
    color: rgb(22, 22, 23);
    font-size: 30px;
    margin-top: 10px;

}
.galeriaValorAnterior{
    text-decoration: line-through;
    margin-top: 5px;
}



.galeriaImagens{
    margin: 20px;
    background-color: #F2F3F5;
    padding: 20px;
}

.galeriaImagens img{
    border-radius: 10px;
    width: 300px;
    height: auto;
}


.galeriaDesconto{
    background-color: #C2F26E;
    width: 70%;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}


.DescontoGaleriavalor{
    padding-bottom: 20px;
  
}

.galeriaValorParcelado{
    margin-top: 5px;
}

.galeriaFreteGratis{
    margin-top: 5px;
}
    
    
