*{
    margin: 0;
    padding: 0;
}



.galeria{
    margin: auto;
    max-width: 1500px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-block: 6%;
    

}
p{
    
    margin-top: 15px;
}
.galeriaFreteGratis{
    color: green;
    font-size: 25px;
}
.galeriaValorAtual{
    color: rgb(22, 22, 23);
    font-size: 30px;
    
}

.galeriaImagens{
    margin: 20px;
    background-color: #F2F3F5;
    padding: 20px;
}

.galeriaImagens img{
    border-radius: 10px;
    width: 300px;
    height: auto;
}


.galeriaDesconto{
    background-color: #C2F26E;
    width: 70%;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}


#DescontoGaleria{
    margin: auto;
    max-width: 1500px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-block: 6%;
    background-color: #1e1f56;
    
    
}
ul,li{
    padding: 5px;
    list-style: none;
    background-color: rgb(146, 128, 174);
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 25px;
    border-radius: 5px;
    
}
