*{
    margin: 0;
    padding: 0;
}



.galeria{
    margin: auto;
    max-width: 1500px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-block: 6%;
    

}

.galeriaImagens{
    margin: 20px;
    background-color: #F2F3F5;
    padding: 20px;
}

.galeriaImagens img{
    border-radius: 10px;
    width: 300px;
    height: auto;
}


.galeriaDesconto{
    background-color: #C2F26E;
    width: 70%;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}


