 body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #FF000000, #1a1a2e, #351273);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }

 .voltar {
   position: absolute;
   top: 10px;
   left: 10px;

 }

 .voltar img {
   background-color: white;
   border-radius: 50%;
   width: 40px;
   height: 40px;
 }

 .container {
   background: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   width: 100%;
   max-width: 400px;
   text-align: center;
 }

 h2 {
   margin-bottom: 15px;
   color: #333;
 }

 p {
   font-size: 14px;
   color: #555;
   margin-bottom: 20px;
 }

 input[type="email"] {
   width: 100%;
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 14px;
 }

 button {
   width: 100%;
   padding: 10px;
   background: #6e00ff;
   color: #fff;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
   transition: background 0.3s;
 }

 button:hover {
   background: #5800cc;
 }

 a {
   display: block;
   margin-top: 15px;
   font-size: 14px;
   color: #6e00ff;
   text-decoration: none;
 }

 a:hover {
   text-decoration: underline;
 }