 body {
     font-family: Arial, sans-serif;
     background-color: #1a1a2e;
     margin: 0;
     padding: 20px;
 }

 .Dicas {
     text-align: center;
     margin-bottom: 40px;
     color: #f7f4f4;
 }

 .Dicas a {
     text-decoration: none;
     background-color: #b5bae98c;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;

 }

 .voltar {
     position: absolute;
     top: 10px;
     left: 10px;

 }

 .voltar img {
     background-color: white;
     border-radius: 50%;
     width: 40px;
     height: 40px;
 }


 h1 {
     text-align: center;
     color: #f7f4f4;
 }

 .events-grid {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 20px;
 }

 .event-card {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 20px;
    @media (max-width: 600px) {
        width: 100%;
        height: auto;
    }

  
 }

 .event-card:hover {
     transform: translateY(-5px);
 }

 .event-image img {
     width: 100%;
     height: auto;
     border-radius: 5px;
 }

 .event-info {
     padding: 15px;
     background-color:#b5bae98c ;
     border-radius: 5px;
    
 }

 .event-info h3 {
     margin-top: 0;
     color: #333;
 }

 .event-info p {
     color: #666;
 }

 .event-meta {
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
     font-size: 0.9em;
     color: #999;
 }

   