
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
}


.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.product-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 30px 0;
    cursor: pointer;
    color: #000;
}


.product-card {
    background-color: #F2F3F5;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: contain;
}


.product-promotion {
    background-color: #6942B9;
    color: rgb(12, 11, 11);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

.product-discount {
    background-color: #C2F26E;
    width: 60%;
    text-align: center;
    margin: 10px auto;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: #333;
}


.product-title {
    margin: 15px 0;
    font-weight: bold;
    font-size: 14px;
    height: 3em;
    overflow: hidden;
}


.product-price {
    margin: 10px 0;
}

.price-original {
    text-decoration: line-through;
    color: #982727;
    font-size: 14px;
}

.price-current {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.price-installment {
    font-size: 14px;
    color: #555;
}


.product-shipping {
    color: rgba(41, 29, 107, 0.8);
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.3rem;
}


@media screen and (max-width: 1024px) {
    .product-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .product-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .product-gallery {
        grid-template-columns: 1fr;
    }
    
    .product-card {
        max-width: 100%;
    }
}