* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.title {
    display: flex;
    justify-content: space-between;
}

.title img {
    width: 45px;

}

form {
    position: relative;
    display: flex;
    background-color: rgba(41, 29, 107, 0.8);
    justify-content: center;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
    padding: 30px;
    gap: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #00ff41;
    opacity: 80%;
     /* Contorno estilizado */
     border: 2px solid #00ff41;
     box-shadow: 0 0 15px #00ff41;
}

form input {

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 15px;
    outline: none;
}

form input[type="number"]::-webkit-inner-spin-button,
form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.lembrar {
    display: flex;
    align-items: center;

    width: 100%;
    height: 40px;
    gap: 5px;
}

.lembrar label {

    font-size: 1rem;
    font-weight: bold;

}

.lembrar input {
    width: 15px;
    display: flex;
    cursor: pointer;

}





.btnClass {
    display: flex;
    width: 100%;
    flex-direction: column; /* Empilha em telas pequenas */
    gap: 10px;
    align-items: center;
}

#btn, #btnGoogle {
    width: 100%;
    max-width: 250px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#btn {
    background-color: #6a1fb9;
    color: #00ff41;
}

#btn:hover {
    background-color: #00ff41;
    color: #6a1fb9;
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 255, 65, 0.3);
}

#btnGoogle {
    background-color: #00ff41;
    color: #8a2be2;
}

#btnGoogle:hover {
    background-color: #8a2be2;
    color: #39ff14;
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(57, 255, 20, 0.25);
}
#logoGoogle {
    width: 20px;
}